<div class="container mx-auto">
  <div class="grid grid-cols-1 gap-4 place-items-center">
    <h2><%= t('.title') %></h2>

    <%= form_with model: resource, url: session_path(resource_name) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>
    
      <div class="mb-3">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
      </div>

      <div class="flex justify-center">
        <%= f.submit t('.sign_in'), class: "btn btn-accent" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
