<div class="container mx-auto w-5/6 md:max-w-7xl mt-8">
  <div class="relative h-[90vh] bg-cover bg-center rounded-xl" style="background-image: url(<%= asset_path('top.png') %>)">
    <div class="absolute inset-0 bg-gray-600 bg-opacity-70 rounded-xl"></div>
    <div class="relative flex flex-col justify-center items-center gap-4 h-full p-2">
      <h1 class="text-white text-5xl font-bold"><%= t('.title') %></h1>
      <p class="text-white"><%= t('.subtitle') %></p>

      <div class="flex flex-wrap justify-center gap-4 mt-6">
        <%= link_to courses_path, class: "btn btn-primary rounded-lg text-white" do %>
          <span class="material-icons">search</span>
          <span class="text-white"><%= t('.search') %></span>
        <% end %>

        <%= link_to new_user_session_path, class: "btn btn-accent rounded-lg text-white" do %>
          <span class="material-icons">login</span>
          <span class="text-white"><%= t('.login') %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <%# 使い方の説明 %>
  <div class="flex flex-col items-center justify-center gap-2">
    <div class="flex">
      <h2><%= t('.use_app') %></h2>
      <span class="material-icons">directions_walk</span>
    </div>

    <p class="text-xs text-secondary"><%= t('.can_scroll') %></p>
  </div>

  <div class="carousel rounded-md w-full mt-2">
    <%# コース検索の説明 %>
    <div class="carousel-item w-full">
      <div class="card bg-slate-100 shadow-md w-full">
        <div class="card-body justify-center items-center gap-4">
          <h2 class="card-title"><%= t('.search_course.title') %></h2>
          <p class="text-sm"><%= t('.search_course.description').html_safe %></p>
          <img src="https://i.gyazo.com/b20a6a2b78ede5479e6410a6cca22aea.png" alt="Image from Gyazo" width="330"/>
        </div>
      </div>
    </div>

    <%# コース詳細の説明 %>
    <div class="carousel-item w-full">
      <div class="card bg-slate-100 shadow-md w-full">
        <div class="card-body justify-center items-center gap-4">
          <h2 class="card-title"><%= t('.show_course.title') %></h2>
          <p class="text-sm"><%= t('.show_course.description').html_safe %></p>
          <img src="https://i.gyazo.com/cc35741cb93db5f3cb104927784d9044.gif" alt="Image from Gyazo" width="330"/>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center mt-8">
    <h2><%= t('.more_sign_up') %></h2>
  </div>

  <div class="carousel rounded-md w-full mt-2">
    <%# コース作成の説明 %>
    <div class="carousel-item w-full">
      <div class="card bg-slate-100 shadow-md w-full">
        <div class="card-body justify-center items-center gap-4">
          <h2 class="card-title"><%= t('.create_course.title') %></h2>
          <p class="text-sm"><%= t('.create_course.description').html_safe %></p>
          <img src="https://i.gyazo.com/2b502347780959a8ac206c3afded26d5.gif" alt="Image from Gyazo" width="330"/>
        </div>
      </div>
    </div>
  </div>
</div>
