<div id="course-id-<%= course.id %>">
  <div class="card card-compact bg-base-100 w-72 shadow-xl my-3">
    <figure>
      <%= image_tag "course_placeholder.png", class: "rounded-xl", width: "300", height: "200" %>
    </figure>
    <div class="card-body">
      <div class="flex">
        <h2 class="card-title"><%= link_to course.title, course_path(course) %></h2>
        <% if current_user&.own?(course) %>
          <%= link_to course_path(course), data: { turbo_method: "delete", turbo_confirm: "削除してもよろしいでしょうか？" }, class: "ml-auto" do %>
            <span class="material-icons text-primary">delete</span>
          <% end %>
        <% end %>
      </div>
      <div class="card-actions">
        <div class="badge badge-outline gap-1">
          <span class="material-icons text-base h-6">route</span>
          <%= course.distance %> km
        </div>
        <div class="badge badge-outline gap-1">
          <span class="material-icons text-base w-5 h-6">explore_nearby</span>
          <%= truncate course.address.split[1], length: 10 %>
        </div>
      </div>
      <div class="flex items-center space-x-2">
        <span class="material-icons">account_circle</span>
        <span><%= course.user.name %></span>
      </div>
    </div>
  </div>
</div>
