<div id="course-id-<%= course.id %>">
  <div class="card card-compact bg-base-100 w-full sm:w-96 shadow-xl my-3">
    <figure>
      <% if course.main_images.attached? %>
        <div class="swiper w-full">
          <div class="swiper-wrapper">
            <% course.main_images.each do |image| %>
              <div class="swiper-slide"><%= image_tag image.variant(:thumb).processed, class: "w-full rounded-xl" %></div>
            <% end %>
          </div>
          <%# navigation buttons %>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <%# pagination %>
          <div class="swiper-pagination"></div>
        </div>
      <% else %>
        <%= image_tag "course_placeholder.png", class: "w-full rounded-xl" %>
      <% end %>
    </figure>
    <div class="card-body">
      <div class="flex">
        <h2 class="card-title"><%= link_to course.title, course_path(course) %></h2>
        <% if current_user&.own?(course) %>
          <%= link_to course_path(course), data: { turbo_method: "delete", turbo_confirm: "削除してもよろしいでしょうか？" }, class: "ml-auto" do %>
            <span class="material-icons text-primary">delete</span>
          <% end %>
        <% end %>
      </div>
      <div class="card-actions">
        <div class="badge badge-outline gap-1">
          <span class="material-icons text-base h-6">route</span>
          <%= course.distance %> km
        </div>
        <div class="badge badge-outline gap-1">
          <span class="material-icons text-base w-5 h-6">explore_nearby</span>
          <%= truncate course.address.split[1], length: 10 %>
        </div>
      </div>
      <div class="flex items-center space-x-2">
        <span class="material-icons">account_circle</span>
        <span><%= course.user.name %></span>
      </div>
    </div>
  </div>
</div>
