<div class="container mx-auto pt-4 px-4">
  <h1><%= t('.title') %></h1>

  <!-- 検索フォーム -->
  <div class="mx-auto md:w-1/2 py-4">
    <%= form_with model: @q, url: courses_path, method: :get do |f| %>
      <div class="mb-3 flex">
        <%= f.search_field :course_query, class: "input input-bordered w-full", placeholder: "検索ワードを入力して下さい" %>
        <%= f.submit t('.search'), class: "btn btn-accent" %>
      </div>
      <div class="mb-3" data-controller="courses">
        <details class="dropdown dropdown-bottom">
          <summary class="badge badge-lg" data-courses-target="distance">距離</summary>
          <div class="dropdown-content card card-sm bg-base-100 rounded-box z-10 max-w-xs shadow-md">
            <div class="card-body flex flex-row items-center">
              <%= f.number_field :min_distance, min: 0, max: 50, placeholder: "0", class: "input input-bordered", data: { courses_target: "min_distance", action: "input->courses#setDistanceRange" } %> km
              <span>~</span>
              <%= f.number_field :max_distance, min: 1, max: 50, placeholder: "50", class: "input input-bordered", data: { courses_target: "max_distance", action: "input->courses#setDistanceRange" } %> km
            </div>
          </div>
        </details>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <% if @courses.present? %>
      <%= render @courses %>
    <% else %>
      <div class="mt-4">作成されたコースはありません</div>
    <% end %>
  </div>
</div>
