<!-- metaタグを設定 -->
<% assign_meta_tags title: @course.title, description: @course.body,
  image: @course.main_images.present? ? url_for(@course.main_images[0].variant(:twitter_card).processed) : nil %>

<div class="container mx-auto w-5/6 md:max-w-4xl mt-8">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-4">

    <%# コース説明部分 %>
    <div class="col-span-2">
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl"><%= @course.title %></h1>
        <p class="break-words"><%= @course.body %></p>
      </div>
      <ul>
        <div class="divider"></div>

        <li class="flex items-start gap-1">
          <%# Xシェア %>
          <%= link_to "https://twitter.com/intent/tweet?url=#{CGI.escape(course_url(@course))}&hashtags=お散歩マップ,散歩", target: "_blank", title: "Xでシェア" do %>
            <div class="btn btn-xs btn-circle mr-4">
              <%= image_tag "x_twitter_mark.svg", class: "h-4" %>
            </div>
          <% end %>
          <%# いいねボタン %>
          <%= render "courses/like_button", course: @course %>
        </li>

        <div class="divider"></div>

        <li class="flex">
          <span class="material-icons text-gray-400">turn_sharp_right</span>
          <p class="text-gray-400 mr-4">Distance</p>
          <p><%= @course.distance %> km</p>
        </li>

        <div class="divider"></div>

        <li class="flex">
          <span class="material-icons text-gray-400">location_on</span>
          <p class="text-gray-400 mr-4">Location</p>
          <p class="text-sm"><%= @course.address.split[1] %></p>
        </li>
        <div class="divider"></div>
      </ul>
    </div>

    <%# コース写真 %>
    <div class="col-span-3">
      <div class="swiper courseShowSwiper">
        <div class="swiper-wrapper items-center">
          <% @course.main_images.each do |image| %>
            <div class="swiper-slide w-full max-w-xs"><%= image_tag image.variant(:course_show), class: "w-full rounded-lg" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <%# マップ %>
  <div class="grid grid-cols-1">
    <div class="h-[70vh]">
      <div id="show-map" class="w-full h-full"></div>
    </div>
  </div>

  <div class="divider"></div>

  <%# コメント %>
  <div class="grid grid-cols-1">
    <%= render "comments/form", comment: @comment, course: @course %>

    <% if @course.comments.present? %>
      <ul class="bg-base-100 rounded-box shadow-lg p-4 my-4">
        <%= render @comments %>
      </ul>
    <% else %>
      <p class="text-sm my-4">コメントはまだありません</p>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "show_gmap", "data-turbo-track": "reload" %>
