<!DOCTYPE html>
<html>
  <head>
    <title>お散歩マップ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- google maps apiの読み込み -->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "<%= Rails.application.credentials.dig(:google, :maps_api_key) %>",
        v: "weekly"        
      });
    </script>

    <!-- meta_tags -->
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render user_signed_in? ? 'shared/header' : 'shared/before_login_header' %>

    <!-- フラッシュメッセージ -->
    <%= render 'shared/flash_message' %>

    <!-- gem gonの設定 -->
    <%= Gon::Base.render_data %>

    <%= yield %>

    <!-- フッター -->
    <div class="mt-32">
      <div class="fixed bottom-0 w-full z-10 shadow-lg">
        <%= render 'shared/footer' %>
      </div>
    </div>

    <%# コメント機能のturbo framesのターゲット %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
